<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="div_ShopInfo" align="center">
        <form id="form_ShopInfo" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id_shop" value="{$shop.id}" />
            <table id="table_shopinfo">
                这里是店铺申请的各个字段
            </table>
        </form>
    </div>
</body>
</html>
