<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>二级密码</title>
	<link rel="stylesheet" type="text/css" href="/public/phone/css/lpk.css" />
	<link rel="stylesheet" type="text/css" href="/public/phone/lb/css/bootstrap.css" />
	<link rel="stylesheet" href="/public/phone/layer/layui.css">
	<link rel="stylesheet" type="text/css" href="/public/phone/css/reset.css" />
	<script src="/public/phone/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/phone/lb/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/phone/layer/layer.js"></script>
	<script src="/public/phone/js/rem.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			$('#tijiao').click(function(){
				var old_password = $('#old_password').val();
				var password = $('#password').val();
				var passwordRepeat = $('#passwordRepeat').val();
	            var caozuo = "{$caozuo}";
	            if(caozuo=="edit")
	            {
	                if(!old_password)
	                {
	                    layer.msg("请输入支付原密码");
	                    return;
	                }
	            }
				
				if(!password)
				{
					layer.msg("请输入新支付密码");
					return;
				}
				if(!passwordRepeat)
				{
					layer.msg("请再次输入新支付密码");
					return;
				}

				$.ajax({
					url:'/app.php/Password/edit_pay',
					data:{caozuo:caozuo,old_password:old_password,password:password,passwordRepeat:passwordRepeat},
					type:'post',
					dataType:'json',
					success:function(data){
						if(data.code=="200")
						{
							layer.msg("设置成功",{time:2000},function(){
								window.location.href = "/MyCenter.html";
							})
						}
						else
						{
							layer.msg(data.msg);
						}
					}
				})
			})
		})
	</script>
</head>

<body>
	<header class="lpk_head clearfix">
		<div class="fl left">
			<a href="__APP__/MyCenter.html">
				<font class="glyphicon glyphicon-menu-left"></font>
			</a>
		</div>
		<div class="fl center">
			二级密码
		</div>
		<div class="fr right">
			
		</div>
	</header>
	<div class="lpk_mportant">
		<form action="" method="">
			<if condition="$caozuo eq 'edit'">
				<div class="top">
					<input type="password" name="" id="old_password" value="" placeholder="输入旧密码" maxlength="" />
				</div>
			</if>
			<div class="top">
				<input type="password" name="" id="password" value="" placeholder="输入新密码" />
			</div>
			<div class="top">
				<input type="password" name="" id="passwordRepeat" value="" placeholder="确认新密码" />
			</div>

			<div class="bottom">
				<input type="button" name="" id="tijiao" value="保存" />
			</div>
		</form>
	</div>
</body>

</html>