<footer class="lpk_foot">
	<ul class="clearfix">
		<li>
			<a href="__APP__/index.html"><img src="/public/phone/img/foot11.png" /></a>
		</li>
		<!--<li>
			<a href="__APP__/ProductSort.html"><img src="/public/phone/img/foot4.png" /></a>
		</li>-->
		<!--<li>
			<a href="__APP__/Package.html"><img src="/public/phone/img/foot5.png" /></a>
		</li>-->
		<li>
			<a href="__APP__/ShoppingCart.html"><img src="/public/phone/img/foot2.png" /></a>
		</li>
		
		
		<!--<li>
			<a href="__APP__/MyCenter.html"><img src="/public/phone/img/foot3.png" /></a>
		</li>-->
		
		<li>
			<a href="__APP__/Order.html"><img src="/public/phone/img/foot2.png" /></a>
		</li>
	</ul>
</footer>
<script src="/public/phone/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$('.lpk_foot ul li').eq(1).click(function() {
		localStorage.clear();
	})
</script>