<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' 'unsafe-eval' 'self'  *.jythjc.com kefu.easemob.com;img-src 'self' data:;font-src 'self' data:;report-uri /error/csp.php" />
	<title>修改方式</title>
	<link href="__ROOT__/public/phone/css/amazeui.min.css" rel="stylesheet" type="text/css">
	<link href="__ROOT__/public/phone/css/demo.css" rel="stylesheet" type="text/css" />
	<link type="text/css" href="__ROOT__/public/phone/css/optstyle.css" rel="stylesheet" />
	<link type="text/css" href="__ROOT__/public/phone/css/style.css" rel="stylesheet" />
	<link href="__ROOT__/public/phone/css/personal.css" rel="stylesheet" type="text/css">
	<link href="__ROOT__/public/phone/css/wallet.css" rel="stylesheet" type="text/css">
	<script src="__ROOT__/public/phone/js/jquery.min.js"></script>
	<script src="__ROOT__/public/phone/js/amazeui.min.js"></script>
	<script type="text/javascript" src="__ROOT__/public/layer/layer.js"></script>
	<script type="text/javascript" src="__ROOT__/public/phone/js/mymall.js"></script>
</head>
<body>
	<include file="Public/header" />
	<!-- 内容 -->
	<div class="czdlmm">
		<div class="xiugaimm">
			<a href="__APP__/PhoneVerify.html"><p>手机验证码修改<i class="am-header-icon am-icon-angle-right wdjlfh"></i></p></a>
			<a href="__APP__/PwdEditPwd.html"><p>原密码修改<i class="am-header-icon am-icon-angle-right wdjlfh"></i></p></a>
		</div>
	</div>
</body>
</html>