<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="div_MallNew" align="center">
        <form id="form_MallNew" method="post" enctype="multipart/form-data">
            <input type="hidden" id="lanmuid_MallNew" value="{$navigation_id}" />
            <input type="hidden" id="id_MallNew" value="{$id}" />
            <input type="hidden" id="caozuo_MallNew" value="{$caozuo}" />
            <table id="table_content">
                <tr>
                    <td align="right">标题：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallNewTitle" name="MallNewTitle" style="width:300px" value="{$new.title}"/></td>
                </tr>
                <tr>
                    <td align="right">时间：</td>
                    <td><input type="text" class="easyui-datebox" id="date_MallNew" name="date_MallNew" value="{$new.time}"/></td>
                </tr>
                <if condition="($navigation.controller eq 'PictureList') or ($navigation.controller eq 'VideoList')">
                    <tr>
                        <td align="right">图片：</td>
                        <td>
                            <input type="file" id="MallNewImage" name="MallNewImage" style="width:200px"/>
                            <a href="javascript:void(0)" class="easyui-linkbutton" onClick="upload('__APP__/Upload/upload', 'MallNewImage', 'form_MallNew', 'New');">上传</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">预览图：</td>
                        <td>
                            <img id="img_MallNewImage" src="__ROOT__/{$new.picture}" style=" width:100px; height:100px" />
                            <br />
                            <!-- <p><font style="color: red;"> * </font>图片大小：1500*750</p> -->
                            <input type="hidden" id="hidden_MallNewImage" value="{$new.picture}" />
                        </td>
                    </tr>
                </if>
                
                <if condition="$navigation.controller eq 'VideoList'">
                    <tr>
                        <td align="right">视频：</td>
                        <td>
                            <input type="file" id="file_video" name="file_video" style="width:200px"/>
                            <a href="javascript:void(0)" class="easyui-linkbutton" onClick="upload('__APP__/Upload/uploadFile', 'file_video', 'form_MallNew', 'Video');">上传</a>
                            <input type="hidden" id="hidden_file_video" value="{$new.video}" />
                        </td>
                    </tr>

                    <tr>
                        <td align="right">第三方视频：</td>
                        <td><input class="easyui-textbox" data-options="" id="MallNewVideoUrl" name="MallNewVideoUrl" style="width:300px" value="{$new.video_url}"/></td>
                    </tr>
                </if>
                <tr>
                    <td align="right">内容：</td>
                    <td>
                        <textarea id="editor_MallNew" style=" width:700px; height:500px"></textarea>
                        <input type="hidden" id="hidden_editor_MallNew" value='{$new.content}'>
                    </td>
                </tr>
            </table>
        </form>
        <input type="button" id="save_MallNew" value="确认" />

    </div>
    
    <script type="text/javascript">
        $(function () {
            var editor_content = $('#hidden_editor_MallNew').val();
            KindEditor.remove('#editor_MallNew');
            $('#editor_MallNew').val(editor_content);
            createKindeditor("#editor_MallNew");
            $('#save_MallNew').click(function () {
                var caozuo = $('#caozuo_MallNew').val();
                var content = $('#editor_MallNew').val();
                $.ajax({
                    url: '__APP__/MallContentNew/' + caozuo,
                    data: { id: $('#id_MallNew').val(), 
                        navigation_id: $('#lanmuid_MallNew').val(), 
                        title: $('#MallNewTitle').val(), 
                        author: $('#MallNewAuthor').val(), 
                        source: $('#MallNewSource').val(), 
                        time: $('#date_MallNew').val(), 
                        content: content,
                        video: $('#hidden_file_video').val(),
                        video_url:$('#MallNewVideoUrl').val(),
                        picture: $('#hidden_MallNewImage').val()
                    },
                    type: 'post',
                    success: function (msg) {
                        if (msg == "ok") {
                            alert("恭喜，保存成功");
                            return;
                        }
                        else if (msg == "error") {
                            alert("保存失败，请重新操作");
                            return;
                        }
                        else if (msg == "navigation_id_null") {
                            alert("请选择要添加数据的栏目");
                            return;
                        }
                        else if (msg == "id_null") {
                            alert("请选择要修改的数据");
                            return;
                        }
                        else if (msg == "picture_null") {
                            alert("请上传图片");
                            return;
                        }
                    }
                })
            })
        })
    </script>
    
</body>
</html>
