<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{$navigation.title}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/public/phone/lb/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/phone/lb/css/swiper.min.css">
		<link rel="stylesheet" href="/public/phone/css/reset.css">
		<link rel="stylesheet" href="/public/phone/css/public.css">
		<link rel="stylesheet" href="/public/phone/css/index.css">
		<script src="/public/phone/lb/js/jquery.min.js"></script>
		<script src="/public/phone/js/masonry-docs.min.js"></script>
		<script src="/public/phone/lb/js/bootstrap.min.js"></script>
		<script src="/public/phone/lb/js/swiper.min.js"></script>
		<script src="/public/phone/js/rem.js"></script>
		<link rel="stylesheet" href="/public/phone/css/style.css">
		<script src="/public/phone/js/iscroll.js"></script>
		<style type="text/css">
			.tit p{
				margin-top: 5px;
			}
			.lpk_foot ul li{
				width: 20%;
			}
			.img-box video{
				width: 100%;
				height: 2.5rem;
			}
			.index-prolist .box .tit{
				text-align: center;
			}
		</style>
	</head>

	<body>

		<header class="lpk_head clearfix">
			<div class="fl left">
				<!-- <a onclick="javascript :history.back(-1);">
					<font class="glyphicon glyphicon-menu-left"></font>
				</a> -->
			</div>
			<div class="fl center">
				{$navigation.title}
			</div>
			<div class="fr right">
			</div>
		</header>
		<div class="" style="width: 100%;height: 1.5rem;"> </div>

		<div id="wrapper" style="top: 1.5rem;bottom: 1.5rem;" data-flag='true'>
			<div id="scroller" class="index-prolist content index-prolist1">
				<section id="root" class="clearfix">
					
				</section>
				<div class="pull-loading">
					上拉加载
				</div>
			</div>
		</div>
		

		<script>
			var id = "{$id}";
			$(function() {
				pullOnLoad(id);

			})
             
			$('#root').on('click', '.box a', function() {
				var id = $(this).attr('id');
				console.log(id);
				window.location.href = `ProductShow.html?id=${id}`;

			})

			var myscroll = new iScroll("wrapper", {
				onScrollMove: function() { //拉动时
					//上拉加载
					if(this.y < this.maxScrollY) {
						$(".pull-loading").html("释放加载");
						$(".pull-loading").addClass("loading");
					} else {
						$(".pull-loading").html("上拉加载");
						$(".pull-loading").removeClass("loading");
					}
				},
				onScrollEnd: function() { //拉动结束时
					//上拉加载
					if($(".pull-loading").hasClass('loading')) {
						$(".pull-loading").html("加载中...");
						pullOnLoad();
					}
				},
				onRefresh: function() {
					$('.pull-loading').html("上拉加载");
				}
			});
			//上拉加载函数,ajax
			var num = 6;
			var page = 1; //每次加载4条
			function pullOnLoad(fn) {
				
				var stu=$('#wrapper').attr('data-flag');
				if(stu==false){
					return;
				}
				$('#wrapper').attr('data-flag','false');
				
				
				var ids = fn;
				setTimeout(function() {

					$.ajax({
						url: '/app.php/New/getData',
						type: "get",
						dataType: 'json',
						data: {
							CurrentPage: page,
							paginalNum: num,
							id: id
						},
						success: function(data) {
							if(data.code==200){
								console.log(data)
								var result = "";
								var dataArr = data.data;
								if(dataArr.length >0) {
									
									for(var i = 0; i < dataArr.length; i++) {
										var row = dataArr[i];
										result += `
											<div class="box">
												<a href="__APP__/PictureShow_${row.id}.html" >
												    <div class="img-box">
													   <img class="itemImg" src="/${row.picture}">
													</div>
													<div class="tit">
														<p>${row.title}</p>
													</div>
												</a>
											</div>`;
								
									}
									$("#scroller section").append(result);
									page++;
									myscroll.refresh();
								}else {
									$(".pull-loading").text("无数据");
								}
								$('#wrapper').attr('data-flag','true');
							}else{
								
							}
						},
						error: function() {
							console.log("出错了");
						}
					});
					myscroll.refresh();
				}, 1000);
			}
		</script>
	</body>

</html>