<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{$navigation.title}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/public/phone/css/lpk.css" />
		<link rel="stylesheet" href="/public/phone/lb/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/phone/lb/css/swiper.min.css">
		<link rel="stylesheet" href="/public/phone/css/reset.css">
		<link rel="stylesheet" href="/public/phone/css/public.css">
		<link rel="stylesheet" href="/public/phone/css/other.css">
		<link rel="stylesheet" type="text/css" href="/public/phone/css/newStyle.css" />
		<link rel="stylesheet" href="/public/phone/layer/layui.css">
		<style type="text/css">
			a:hover,
			a:focus {
				color: #fff !important;
			}
			.pro-tit1 p, .pro-tit1 text {
				font-size: 14px !important;
				color: #000;
			}
			.lpkVideo video{
				width: 100%;
				height: 6rem;
			}
			.lpkVideo iframe{
				width: 100%
			}
		</style>
		<script src="/public/phone/js/rem.js"></script>

	</head>

	<body style="background: white !important;">
		<header class="lpk_head clearfix">
			<div class="fl left">
				<a onclick="javascript :history.back(-1);">
					<font class="glyphicon glyphicon-menu-left"></font>
				</a>
			</div>
			<div class="fl center">
				{$navigation.title}
			</div>
			<div class="fr right">
				<!--< a href="javascript:;"><font class="glyphicon glyphicon-shopping-cart"></font></ a>-->
			</div>
		</header>
		<div class="" style="width: 100%;height: 1.5rem;"></div>
		<div class="lpkVideo">
			<!--<video src="http://jinshang.rjsjzx.com/3.24m.mp4">
			</video>-->
		</div>

		<div class="pro-tit">
			<h2>{$picture.title}</h2>
		</div>
		<div class="pro-tit pro-tit1">
			<p>
				{$picture.content}
			</p>
		</div>
		<div class="pro-bot" style="width: 100%;">
			<!-- <div class="add-good">加入购物车</div> -->
			<!-- <div class="buy-good buy-good_" style="width: 100%;">立即购买</div> -->
		</div>



		<script src="/public/phone/lb/js/jquery.min.js"></script>
		<script src="/public/phone/layer/layer.js"></script>
		<script src="/public/phone/lb/js/bootstrap.min.js"></script>
		<script src="/public/phone/lb/js/swiper-3.4.2.jquery.min.js"></script>
		<script>
			var lpksc = 0;
			$('.specifications1').on('click', 'span', function() {
				$(this).addClass('active').siblings().removeClass('active');
			})
		</script>
	</body>

</html>
