<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>提现详情</title>

	<link rel="stylesheet" type="text/css" href="__ROOT__/public/phone/css/lpk.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/public/phone/lb/css/bootstrap.css" />
	<link rel="stylesheet" href="__ROOT__/public/phone/layer/layui.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/public/phone/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/public/phone/css/sh.css" />

	<script src="__ROOT__/public/phone/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__ROOT__/public/phone/lb/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="__ROOT__/public/phone/layer/layer.js"></script>
	<script src="__ROOT__/public/phone/js/rem.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			$('#sure').click(function(){
				var money = $('#money').val();
	            var card_owner = $('#card_owner').val();
	            var open_bank = $('#open_bank').val();
	            var bank_card = $('#bank_card').val();

	            var alipay = $('#alipay').val();

	            var phone = $('#phone').val();
	            var pay_password = $('#pay_password').val();
	            if(parseInt(money).toFixed(2)<100)
	            {
	            	layer.msg("提现金额不能小于100");
	            	return;
	            }
	            if(!card_owner)
	            {
	                layer.msg("请输入持卡人姓名");
	                return;
	            }
	            if(!open_bank)
	            {
	                layer.msg("请输入开户行");
	                return;
	            }
	            if(!bank_card)
	            {
	                layer.msg("请输入卡号");
	                return;
	            }
	            if(!money)
	            {
	                layer.msg("请输入提现金额");
	                return;
	            }
	            if(!phone)
	            {
	                layer.msg("请输入联系电话");
	                return;
	            }
	            if(!alipay)
	            {
	                layer.msg("请输入支付宝账号");
	                return;
	            }

	            $.ajax({
	                url:'/app.php/MyWithdrawal/add',
	                data:{"card_owner":card_owner,"open_bank":open_bank,"bank_card":bank_card,"money":money,"phone":phone,"alipay":alipay,"pay_password":pay_password},
	                type:'post',
	                dataType:'json',
	                success:function(data){
	                    if(data.code=="200")
	                    {
	                        layer.msg("提现成功，请耐心等待审核",{time:2000},function(){
	                            window.location.href = "/MyCommission.html";
	                        })
	                        return;
	                    }
	                    else
	                    {
	                        layer.msg(data.msg);
	                    }
	                }
	             })
			})
		})
	</script>
</head>

<body>
	<header class="lpk_head clearfix">
		<div class="fl left">
			<a href="__APP__/MyCommission.html">
				<font class="glyphicon glyphicon-menu-left"></font>
			</a>
		</div>
		<div class="fl center">
			提现
		</div>
	</header>

	<div class="">

	</div>
	<div class="lpk_mportant lpk_m">
		<form action="" method="">
			<div class="lpk_m_item">
				<p class="ye">可提现金额 : <span>￥<font>{$member.commission}</font>元</span></p>
				<p class="ye">提现额度 : <span>￥<font>{$member.withdrawal_limit}</font>元</span></p>
			</div>
			<div class="clearfix">
				<div class="top">
					<span>持卡人：</span>
					<input type="text" name="" id="card_owner" value="{$member.card_owner}" placeholder="请输入持卡人姓名" />
				</div>
				<div class="top">
					<span>开户行：</span>
					<input type="text" name="" id="open_bank" value="工商银行" placeholder="" readonly="readonly" />
				</div>
				<div class="top">
					<span>卡号：</span>
					<input type="text" name="" id="bank_card" value="{$member.bank_card}" placeholder="请输入卡号" />
				</div>
				<div class="top">
					<span>支付宝：</span>
					<input type="text" name="" id="alipay" value="{$member.alipay}" placeholder="请输入支付宝账户" />
				</div>
				<div class="top">
					<span>提现金额：</span>
					<input type="text" name="" id="money" value="" placeholder="请输入提现金额" />
				</div>
				<div class="top">
					<span>手机号码：</span>
					<input type="tel" name="" id="phone" value="{$member.phone}" placeholder="请输入手机号码" maxlength="11" />
				</div>
				<div class="top" style="color: red">
					提示：提现手续费6%，提现申请每周三统一发放，请注意查收
				</div>
				<!-- <div class="top">
					<span>二级密码：</span>
					<input type="tel" name="" id="pay_password" value="" placeholder="请输入二级密码" maxlength="11" />
				</div> -->
			</div>
			<div class="bottom">
				<input type="button" name="" id="sure" value="确认提现" />
			</div>
		</form>
	</div>
</body>

</html>