#wrapper {
	width: 100%;
	min-width: 320px;
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 10px;
	overflow: hidden;
	z-index: 1;
	-ms-touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#wrapper0 {
	width: 100%;
	min-width: 320px;
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 10px;
	overflow: hidden;
	z-index: 1;
	/*background-color: #eee;*/
	/* 防止本机Windows上的触摸事件 */
	-ms-touch-action: none;
	/* 防止callout tap-hold和文本的选择 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* 防止文本调整取向变化对web应用程序很有用 */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}


#wrapper1 {
	width: 100%;
	min-width: 320px;
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 10px;
	overflow: hidden;
	z-index: 1;
	/*background-color: #eee;*/
	/* 防止本机Windows上的触摸事件 */
	-ms-touch-action: none;
	/* 防止callout tap-hold和文本的选择 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* 防止文本调整取向变化对web应用程序很有用 */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#wrapper2 {
	width: 100%;
	min-width: 320px;
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 52px;
	overflow: hidden;
	z-index: 1;
	/*background-color: #eee;*/
	/* 防止本机Windows上的触摸事件 */
	-ms-touch-action: none;
	/* 防止callout tap-hold和文本的选择 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* 防止文本调整取向变化对web应用程序很有用 */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#wrapper3 {
	width: 100%;
	min-width: 320px;
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 52px;
	overflow: hidden;
	z-index: 1;
	/*background-color: #eee;*/
	/* 防止本机Windows上的触摸事件 */
	-ms-touch-action: none;
	/* 防止callout tap-hold和文本的选择 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* 防止文本调整取向变化对web应用程序很有用 */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#wrapper4 {
	width: 100%;
	min-width: 320px;
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 52px;
	overflow: hidden;
	z-index: 1;
	/*background-color: #eee;*/
	/* 防止本机Windows上的触摸事件 */
	-ms-touch-action: none;
	/* 防止callout tap-hold和文本的选择 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* 防止文本调整取向变化对web应用程序很有用 */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.lpk{
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
.lpk1 {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
.lpk2 {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
.lpk3 {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
.lpk4 {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
