<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>运费模板</title>
</head>
<body>
    <table id='FreightTemplate'></table>
    <div id='toolbar_Template' style=" padding:5px 0px 5px 5px">
        <div style=" height:5px"></div>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" id="addTemplate">新增</a>
    </div> 
    
    <script type="text/javascript">
        $(function () {
            var template = "{$template}";
            $('#FreightTemplate').propertygrid({
                url: '__APP__/FreightTemplate/getData',
                showGroup: true, 
                scrollbarSize: 0,
                columns: [[
                    { field: 'id', title: 'ID', hidden: true },
                    {
                        field: 'method', title: '运送方式', width: 80, align: 'center'
                    },
                    {
                        field: 'district', title: '运送到', width: 200, align: 'center'
                    },
                    {
                        field: 'first', title: '首(件/重/立方)', width: 100, align: 'center'
                    },
                    {
                        field: 'price', title: '运费', width: 100, align: 'center'
                    },
                    {
                        field: 'add', title: '续(件/重/立方)', width: 100, align: 'center'
                    },
                    {
                        field: 'add_price', title: '运费', width: 100, align: 'center'
                    }
                ]],
                //斑马线
                striped: true,
                //底部分页
                pagination: true,
                //只能选中一行
                singleSelect: true,
                //工具栏
                toolbar: '#toolbar_Template',
                onLoadSuccess:function(data){
                    //console.log(data);
                    var array_template = template.split(',');
                    for(var i = 0;i<array_template.length;i++){
                        console.log(array_template[i]);
                        $('.datagrid-view2 .datagrid-group span').eq(i).html(array_template[i]);
                    }
                },
                onRowContextMenu:function(e, index, row){
                    e.preventDefault();
                    e.stopPropagation();
                    console.log(row.id);
                }
            });
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $('#addTemplate').click(function () {
                var titleMsg = '添加_模板';
                var IsHave = $('#right').tabs('exists', titleMsg);
                if (IsHave) {
                    $('#right').tabs('select', titleMsg);
                    var tab = $('#right').tabs('getSelected');
                    tab.panel('refresh', "__APP__/FreightTemplate/info");
                }
                else {
                    $('#right').tabs('close', "修改_模板");
                    $('#right').tabs('add', {
                        title: titleMsg,
                        content: '<div class="easyui-panel" href="__APP__/FreightTemplate/info" fit="true" border="false" ></div>',
                        closable: true
                    });
                }
            })

            $('#editTemplate').click(function () {
                var titleMsg = '修改_产品';
                
                var selected = $('#FreightTemplate').propertygrid('getSelected');
                if (selected) 
                {
                    var IsHave = $('#right').tabs('exists', titleMsg);
                    if (IsHave) {
                        $('#right').tabs('select', titleMsg);
                        var tab = $('#right').tabs('getSelected');
                        tab.panel('refresh', "__APP__/FreightTemplate/info?id=" + selected.id);
                    }
                    else {
                        $('#right').tabs('close', "添加_产品");
                        $('#right').tabs('add', {
                            title: titleMsg,
                            content: '<div class="easyui-panel" href="__APP__/FreightTemplate/info/?id=' + selected.id + '" fit="true" border="false" ></div>',
                            closable: true
                        });
                    }
                }
                else {
                    alert("请选择要进行修改的模板");
                }
            })


            $('#delTemplate').click(function () {
                var checked = $('#FreightTemplate').datagrid('getChecked');
                var delID = "";
                //alert(checked.length);
                if (checked.length > 0) {
                    $.messager.confirm('确认', '您确认要删除这些数据吗？', function (r) {
                        if (r) {
                            for (var i = 0; i < checked.length; i++) {
                                delID += checked[i].id;
                                delID += ",";
                            }

                            delID = delID.substr(0, delID.length - 1);

                            $.ajax({
                                url: '__APP__/FreightTemplate/delete',
                                data: {"id": delID },
                                type: 'post',
                                success: function (msg) {
                                    if (msg == "ok") {
                                        alert("删除成功");
                                        $('#FreightTemplate').datagrid('reload');
                                    }
                                    if (msg == "error") {
                                        alert("删除失败，请重新尝试");
                                    }
                                    if (msg == "idnull") {
                                        alert("数据不存在，刷新后请重新操作");
                                    }
                                }
                            })
                        }
                    })
                }
                else {
                    alert("请选择要删除的数据");
                }
            })
        })
        function open_newtab(url, title, table) {
            var IsHave = $('#right').tabs('exists', title);
            if (IsHave) {
                $('#right').tabs('select', title);
                var tab = $('#right').tabs('getSelected');  // 获取选择的面板
                //刷新面板
                tab.panel('refresh', url);
            }
            else {
                $('#right').tabs('add', {
                    title: title,
                    content: '<div class="easyui-panel" href="' + url + '" fit="true" border="false" ></div>',
                    closable: true
                });
            }
        }
    </script>
</body>
</html>
