<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <table id='MallAdvertisement'></table>
    <div id='toolbar_MallAdvertisement' style=" padding:5px 0px 5px 5px">
        <div style=" height:5px"></div>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" id="add_MallAdvertisement">新增</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" id="edit_MallAdvertisement">修改</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-no'" id="delete_MallAdvertisement">删除</a>
    </div>

    <script type="text/javascript">

        $('#MallAdvertisement').datagrid({
            url: '__APP__/MallAdvertisement/getData',
            columns: [[
                { field: 'cbo_MallAdvertisement', checkbox: true },
                { field: 'id', title: 'ID', hidden: true },
                { field: 'title', title: '标题', width: 200, align: 'center'},
                {
                    field: 'picture', title: '缩略图', width: 200, align: 'center',
                    formatter: function (value, row, index) {
                        var str = "";
                        if (value == "" || value == undefined) {
                            str = '暂无图片';
                        }
                        else {
                            str = '<a><img style="height: 50px;width: 150px;" src="__ROOT__/' + value + '"/></a>';
                        }
                        return str;
                    }
                },
                { field: 'link', title: '链接', width: 200, align: 'center',editor: 'textbox'}
            ]],
            toolbar: '#toolbar_MallAdvertisement',
            pagination: true,
            singleSelect: true,
            selectOnCheck: false,
            rownumbers: true,
            idField: 'id',
            checkOnSelect: false

        });
    </script>
    <script type="text/javascript">
        $(function () {

            $('#add_MallAdvertisement').click(function () {
                var titleMsg = '添加_广告';
                var IsHave = $('#right').tabs('exists', titleMsg);
                if (IsHave) {
                    $('#right').tabs('select', titleMsg);
                    //var tab = $('#right').tabs('getSelected');
                    //tab.panel('refresh', "__APP__/.html?id=" + $('#CompanyLanmuID').val());
                }
                else {
                    $('#right').tabs('close', "修改_广告");
                    $('#right').tabs('add', {
                        title: titleMsg,
                        content: '<div class="easyui-panel" href="__APP__/MallAdvertisement/info" fit="true" border="false" ></div>',
                        closable: true
                    });
                }

            })


            $('#edit_MallAdvertisement').click(function () {
                var titleMsg = '修改_广告';
                var selected = $('#MallAdvertisement').datagrid('getSelected');
                if (selected) {
                    var IsHave = $('#right').tabs('exists', titleMsg);
                    if (IsHave) {
                        $('#right').tabs('select', titleMsg);
                        var tab = $('#right').tabs('getSelected');
                        tab.panel('refresh', "__APP__/MallAdvertisement/info?id=" + selected.newid);
                    }
                    else {
                        $('#right').tabs('close', "添加_广告");
                        $('#right').tabs('add', {
                            title: titleMsg,
                            content: '<div class="easyui-panel" href="__APP__/MallAdvertisement/info/?id=' + selected.id + '" fit="true" border="false" ></div>',
                            closable: true
                        });
                    }
                }
                else {
                    alert("请选择要进行修改的一条数据");
                }
            })


            $('#delete_MallAdvertisement').click(function () {
                var checked = $('#MallAdvertisement').datagrid('getChecked');
                var delID = "";
                if (checked.length > 0) {
                    $.messager.confirm('确认', '您确认要删除这些数据吗？', function (r) {
                        if (r) {

                            for (var i = 0; i < checked.length; i++) {
                                delID += checked[i].id;
                                delID += ",";
                            }
                            delID = delID.substr(0, delID.length - 1);
                            $.ajax({
                                url: '__APP__/MallAdvertisement/delete',
                                data: { "id": delID },
                                type: 'post',
                                success: function (msg) {
                                    if (msg == "ok") {
                                        alert("删除成功");
                                        $('#MallAdvertisement').datagrid('reload');
                                    }
                                    if (msg == "error") {
                                        alert("删除失败，请重新尝试");
                                    }
                                    if (msg == "id_null") {
                                        alert("数据不存在，刷新后请重新操作");
                                    }
                                }
                            })

                        }
                    })
                }
                else {
                    alert("请选择要删除的数据");
                }
            })
            
        })
    </script>
</body>
</html>
