<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <style>
        /*input {
            width:100%;
        }*/
        .layui-upload-img{width: 200px;height: 100px;margin:5px;}
        .img-hidden{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 100px;
            z-index: 100;
            background-color: rgba(100,100,100,0.4);
            margin: 5px;
        }
        .img-pra i{
            font-style: normal;
            text-align: center;
            line-height: 18px;
            display: none;
            position: absolute;
            /* display: block; */
            width: 20px;
            height: 20px;
            border-radius: 30px;
            top: -5px;
            right: -5px;
            color: #fff;
            background-color: red;
            z-index: 101;
            font-size: 26px;
        }
        
        .shangyi{
            color:#fff;font-size:16px;line-height:30px;text-align:center; position:absolute;left:0;bottom:0;width:99px;height:30px;border-top:1px solid #fff;border-right:1px solid #fff;
        }
        .xiayi{
            position:absolute;right:0;bottom:0;width:100px;height:30px;border-top:1px solid #fff;color:#fff;font-size:16px;line-height:30px;text-align:center;
        }
        .clearfix:after {    
            content: ".";      
            display: block;       
            clear: both;          
            visibility: hidden;   
            line-height: 0;      
            height: 0;          
            font-size:0;         
        }
        .clearfix { *zoom:1;} 

    </style>
    <div id="div_MallProduct" align="center">
        <form id="form_MallProduct" method="post" enctype="multipart/form-data">
            <input type="hidden" id="id_MallProduct" value="{$id}" />
            <input type="hidden" id="caozuo_MallProduct" value="{$caozuo}" />
            <table id="table_content">
                <tr>
                    <td align="right">产品名：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductTitle" name="MallProductTitle" style="width:300px" value="{$product.title}"/></td>
                </tr>
                <tr>
                    <td align="right">产品分类：</td>
                    <td><input class="easyui-combotree" id="MallProductSortID" name="MallProductSortID" style="width:150px" value="{$product.sort_id}"/></td>
                </tr>
                <tr>
                    <td align="right">所属店铺：</td>
                    <td><input class="easyui-combotree" id="MallProductStoreID" name="MallProductStoreID" style="width:150px" value="{$product.store_id}"/></td>
                </tr>
                <tr>
                    <td align="right">游客价：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductYoukePrice" name="MallProductYoukePrice" style="width:150px" value="{$product.youke_price}"/>元</td>
                </tr>
                <tr>
                    <td align="right">会员价：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductHuiyuanPrice" name="MallProductHuiyuanPrice" style="width:150px" value="{$product.huiyuan_price}"/>元</td>
                </tr>
                <tr>
                    <td align="right">店铺价：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductDianpuPrice" name="MallProductDianpuPrice" style="width:150px" value="{$product.dianpu_price}"/>元</td>
                </tr>
                <!-- <tr>
                    <td align="right">现价：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductCurrentPrice" name="MallProductCurrentPrice" style="width:150px" value="{$product.current_price}"/>元</td>
                </tr> -->
                
                <tr>
                    <td align="right">游客单位：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductYoukeUnit" name="MallProductYoukeUnit" style="width:80px" value="{$product.youke_unit}"/></td>
                </tr>
                <tr>
                    <td align="right">会员单位：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductHuiyuanUnit" name="MallProductHuiyuanUnit" style="width:80px" value="{$product.huiyuan_unit}"/></td>
                </tr>
                <tr>
                    <td align="right">店铺单位：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductDianpuUnit" name="MallProductDianpuUnit" style="width:80px" value="{$product.dianpu_unit}"/></td>
                </tr>
                <tr>
                    <td align="right">库存：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductReserve" name="MallProductReserve" style="width:80px" value="{$product.reserve}"/></td>
                </tr>
               
                <tr>
                    <td align="right">分销一级：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductFenxiao1" name="MallProductFenxiao1" style="width:80px" value="{$product.fenxiao1}"/></td>
                </tr>
                <tr>
                    <td align="right">分销二级：</td>
                    <td><input class="easyui-textbox" data-options="" id="MallProductFenxiao2" name="MallProductFenxiao2" style="width:80px" value="{$product.fenxiao2}"/></td>
                </tr>
                <tr>
                    <td align="right">图片：</td>
                    <td>
                        <input type="file" id="MallProductPicture" name="MallProductPicture" style="width:200px"/>
                        
                        <a href="javascript:void(0)" class="easyui-linkbutton" onClick="upload('__APP__/Upload/upload', 'MallProductPicture', 'form_MallProduct', 'Product');">上传</a>
                    </td>
                </tr>
                <tr>
                    <td align="right">预览图：</td>
                    <td>
                        <img id="img_MallProductPicture" src="/{$product.picture}" style=" width:100px; height:100px" />
                        <input type="hidden" id="hidden_MallProductPicture" value="{$product.picture}" />
                    </td>
                </tr>

                <tr>
                    <td align="right">描述：</td>
                    <td><input class="easyui-textbox" data-options="multiline: true,height: 40" id="MallProductDescription" name="MallProductDescription" style="width:300px" value="{$product.description}"/></td>
                </tr>
                <tr>
                    <td align="right">多图：</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-normal" id="editor_MallProduct_Picturemore">
                            <i class="layui-icon"></i>选择图片
                        </button>
                        <button type="button" class="layui-btn" id="editor_MallProduct_Picturemore_upload">
                            <i class="layui-icon"></i>确认上传
                        </button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;width: 660px">
                            预览图：
                            <div class="layui-upload-list clearfix" name="yulan_picture_more"></div>
                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td align="right">详情：</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-normal" id="editor_MallProduct_Content">
                            <i class="layui-icon"></i>选择图片
                        </button>
                        <button type="button" class="layui-btn" id="editor_MallProduct_Content_upload">
                            <i class="layui-icon"></i>确认上传
                        </button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;width: 660px">
                            预览图：
                            <div class="layui-upload-list clearfix" name="yulan_picture_content"></div>
                        </blockquote>
                    </td>
                </tr>
            </table>
        </form>
        <a id="save_MallProduct" href="javascript:void(0)" class="easyui-linkbutton">确认</a> 
    </div>
    <script type="text/javascript">
        $(function () {
            //创建多图上传
            var div_picture_more = $('#form_MallProduct [name="yulan_picture_more"]');
            console.log(div_picture_more);
            var div_content = $('#form_MallProduct [name="yulan_picture_content"]');
            console.log(div_content);
            //获取数据库信息
            var picture_more_str = "{$product.picturemore}";
            console.log(picture_more_str);
            var content_str = "{$product.content}";
            console.log(content_str);
            if(picture_more_str!="")
            {
                var picture_more_array = picture_more_str.split(",");
                for(i = 0,len=picture_more_array.length; i < len; i++) {
                    var html =  '<div class="img-pra" data-index="'+i+'" style="float:left;position: relative;">'+
                                    '<img src="__ROOT__/'+ picture_more_array[i] +'" class="layui-upload-img">'+
                                    '<i class="delete">×</i>'+
                                    '<div class="img-hidden" style="">'+
                                        '<div class="shangyi">上移</div>'+
                                        '<div class="xiayi">下移</div>'+
                                    '</div>'+
                                '</div>';
                    $(div_picture_more).append(html);
                    picture_more_operation(div_picture_more,i);
                }
            }
            if(content_str!="")
            {
                var content_array = content_str.split(",");
                for(i = 0,len=content_array.length; i < len; i++) {
                    var html =  '<div class="img-pra" data-index="'+i+'" style="float:left;position: relative;">'+
                                    '<img src="__ROOT__/'+ content_array[i] +'" class="layui-upload-img">'+
                                    '<i class="delete">×</i>'+
                                    '<div class="img-hidden" style="">'+
                                        '<div class="shangyi">上移</div>'+
                                        '<div class="xiayi">下移</div>'+
                                    '</div>'+
                                '</div>';
                    $(div_content).append(html);
                    picture_more_operation(div_content,i);
                }
            }

            layui.use('upload', function(){
                var $ = layui.jquery,
                upload = layui.upload;
                //执行实例
                var uploadInst = upload.render({
                    elem: '#editor_MallProduct_Picturemore',
                    url: '__APP__/Upload/upload/',
                    data:{filePath:"public/upload/Product/",fileID:"file"},
                    auto: false,
                    multiple: true,
                    bindAction: '#editor_MallProduct_Picturemore_upload',
                    choose: function(obj){
                        // console.log(obj);
                        //预读本地文件示例，不支持ie8
                        obj.preview(function(index, file, result){
                            // var length = $('.img-pra').length;
                            var html =  '<div class="img-pra" data-index="'+index+'" style="float:left;position: relative;">'+
                                            '<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">'+
                                            '<i class="delete">×</i>'+
                                            '<div class="img-hidden" style="">'+
                                                '<div class="shangyi">上移</div>'+
                                                '<div class="xiayi">下移</div>'+
                                            '</div>'+
                                            '<div class="modified_join" style="text-align:center">'+
                                                '待上传'+
                                            '</div>'+
                                        '</div>';
                            $(div_picture_more).append(html);
                            
                            picture_more_operation(div_picture_more,index);
                        });
                        // obj = obj.pushFile();
                    },
                    before: function(obj){
                        layer.load();
                    },
                    allDone: function(obj){ //当文件全部被提交后，才触发
                        console.log(obj.total); //得到总文件数
                        console.log(obj.successful); //请求成功的文件数
                        console.log(obj.aborted); //请求失败的文件数
                    },
                    done: function(res, index, upload){
                        layer.closeAll('loading');
                        console.log("res："+res);
                        console.log("index："+index);
                        if(res.status=="ok")
                        {
                            // var array = index.split("-");
                            // var index_now = array[array.length-1];
                            var index_now = index;
                            // console.log("index_now："+index_now);
                            div_picture_more.find('.img-pra').each(function(){
                                var index_list = $(this).attr('data-index');
                                // array = index_list.split("-");
                                // index_list = array[array.length-1];
                                if(index_now == index_list)
                                {
                                    $(this).find('.layui-upload-img').attr('src',"__ROOT__/"+res.filename);
                                    $(this).find('.modified_join').text('上传成功');
                                }
                            })
                            // $(".modified_join").empty().html("上传成功");
                        }
                        if(res.status=="error")
                        {

                        }
                        if(res.status=="size_error")
                        {
                            layer.msg("请来确认图片大小不能超过500KB");
                            return;
                        }
                        if(res.status=="file_null")
                        {
                            layer.msg("请选择要上传的图片");
                            return;
                        }
                    },
                    error: function(index, upload){
                        layer.closeAll('loading');
                    }
                });
                //详情
                upload.render({
                    elem: '#editor_MallProduct_Content',
                    url: '__APP__/Upload/upload/',
                    data:{filePath:"public/upload/Product/",fileID:"file"},
                    auto: false,
                    multiple: true,
                    bindAction: '#editor_MallProduct_Content_upload',
                    choose: function(obj){
                        // console.log(obj);
                        //预读本地文件示例，不支持ie8
                        obj.preview(function(index, file, result){
                            var html =  '<div class="img-pra" data-index="'+index+'" style="float:left;position: relative;">'+
                                            '<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">'+
                                            '<i class="delete">×</i>'+
                                            '<div class="img-hidden" style="">'+
                                                '<div class="shangyi">上移</div>'+
                                                '<div class="xiayi">下移</div>'+
                                            '</div>'+
                                            '<div class="modified_join" style="text-align:center">'+
                                                '待上传'+
                                            '</div>'+
                                        '</div>';
                            $(div_content).append(html);
                            
                            picture_more_operation(div_content,index);
                        });
                        // obj = obj.pushFile();
                    },
                    before: function(obj){
                        layer.load();
                    },
                    allDone: function(obj){ //当文件全部被提交后，才触发
                        // console.log(obj.total); //得到总文件数
                        // console.log(obj.successful); //请求成功的文件数
                        // console.log(obj.aborted); //请求失败的文件数
                    },
                    done: function(res, index, upload){
                        layer.closeAll('loading');
                        // console.log("res："+res);
                        // console.log("index："+index);
                        if(res.status=="ok")
                        {
                            // var array = index.split("-");
                            // var index_now = array[array.length-1];
                            // console.log("index_now："+index_now);
                            var index_now = index;
                            div_content.find('.img-pra').each(function(){
                                var index_list = $(this).attr('data-index');
                                // array = index_list.split("-");
                                // index_list = array[array.length-1];
                                if(index_now == index_list)
                                {
                                    $(this).find('.layui-upload-img').attr('src',"__ROOT__/"+res.filename);
                                    $(this).find('.modified_join').text('上传成功');
                                }
                            })
                            // $(".modified_join").empty().html("上传成功");
                        }
                        if(res.status=="error")
                        {

                        }
                        if(res.status=="size_error")
                        {
                            layer.msg("请来确认图片大小不能超过500KB");
                            return;
                        }
                        if(res.status=="file_null")
                        {
                            layer.msg("请选择要上传的图片");
                            return;
                        }
                    },
                    error: function(index, upload){
                        layer.closeAll('loading');
                    }
                });
            });
            //保存
            $('#save_MallProduct').click(function () {
                var caozuo = $('#caozuo_MallProduct').val();
                var picture_div = $('#form_MallProduct [name="yulan_picture_more"]');
                var content_div = $('#form_MallProduct [name="yulan_picture_content"]');
                var picture_more = get_picture(picture_div);
                var content = get_picture(content_div);
                // console.log(picture_more);
                // console.log(content);
                $.ajax({
                    url: '__APP__/MallProduct/' + caozuo,
                    data: { 
                        id:$('#id_MallProduct').val(), 
                        title: $('#MallProductTitle').val(), 
                        description: $('#MallProductDescription').val(),
                        picture:$('#hidden_MallProductPicture').val(),
                        picturemore: picture_more,
                        content: content,
                        sort_id: $('#MallProductSortID').combotree('getValue'),
                        store_id: $('#MallProductStoreID').combotree('getValue'),
                        youke_price:$('#MallProductYoukePrice').val(),
                        huiyuan_price:$('#MallProductHuiyuanPrice').val(),
                        dianpu_price:$('#MallProductDianpuPrice').val(),
                        reserve:$('#MallProductReserve').val(),
                        youke_unit:$('#MallProductYoukeUnit').val(),
                        huiyuan_unit:$('#MallProductHuiyuanUnit').val(),
                        dianpu_unit:$('#MallProductDianpuUnit').val(),
                        fenxiao1:$('#MallProductFenxiao1').val(),
                        fenxiao2:$('#MallProductFenxiao2').val(),
                    },
                    type: 'post',
                    success: function (msg) {
                        if (msg == "ok") {
                            alert("恭喜，保存成功");
                            return;
                        }
                        else if (msg == "error") {
                            alert("保存失败，请重新操作");
                            return;
                        }
                        else if (msg == "title_null") {
                            alert("请输入产品名称");
                            return;
                        }
                        else if (msg == "sort_id_null") {
                            alert("请选择产品分类");
                            return;
                        }
                        else if (msg == "id_null") {
                            alert("请选择要修改的数据");
                            return;
                        }
                        else if (msg == "picture_null") {
                            alert("请上传图片");
                            return;
                        }
                    }
                })
            })
            $('#MallProductSortID').combotree({
                url: '__APP__/MallProductSort/getProductSortList',
                method: 'post',
                valueField: 'id',
                textField: 'text',
                required: true,
                queryParams:{id:0,is_root:0}
            })
            $('#MallProductStoreID').combotree({
                url: '__APP__/Store/getStoreList',
                method: 'post',
                valueField: 'id',
                textField: 'text',
                required: true
            })
        })
        //多图处理
        function get_picture(obj){
            var picture_str = "";
            obj.find('.img-pra').each(function(index){
                var picture = $(this).children("img").attr("src");
                picture = picture.substr(1,picture.length-1);
                picture_str += picture;
                picture_str += ",";
            })
            if(picture_str.length>0)
            {
                picture_str = picture_str.substr(0,picture_str.length-1);
            }
            return picture_str;
        }
    </script>
</body>
</html>
