<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>

    <div id='consume_toolber' style=" padding:5px 0px 5px 5px">
        <input id="consume_search" />
        <div id="search_consume_tiaojian" style="width:120px">
            <div data-options="name:'phone',iconCls:'icon-ok'">手机号</div>
            <!-- <div data-options="name:'username',iconCls:'icon-ok'">用户名</div> -->
            <div data-options="name:'username',iconCls:'icon-ok'">用户名</div>
        </div>

        <div style=" height:5px"></div>
<!--         <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" id="add_member">新增</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" id="edit_member">修改</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-no'" id="delete_member">删除</a> -->
    </div>
    
    <table id='MemberConsume'></table>

    <script type="text/javascript">
        $(function () {
            $('#MemberConsume').datagrid({
                url: '__APP__/MemberConsume/getData',
                columns: [[
                    { field: 'cbo_Product', checkbox: true },
                    { field: 'id', title: 'ID', hidden: true },
                    {
                        field: 'username', title: '用户名', width: 150, align: 'center'
                    },
                    {
                        field: 'phone', title: '手机号', width: 150, align: 'center'
                    },
                    {
                        field: 'create_time', title: '消费时间', width: 150, align: 'center'
                    },
                    {
                        field: 'title', title: '项目', width: 100, align: 'center'
                    },
                    {
                        field: 'money', title: '消费额度', width: 150, align: 'center'
                    }
                ]],
                //斑马线
                striped: true,
                //底部分页
                pagination: true,
                //行号
                rownumbers: true,
                //只能选中一行
                singleSelect: true,
                //如果为true，单击复选框将永远选择行。如果为false，选择行将不选中复选框。
                selectOnCheck: false,
                //如果为true，当用户点击行的时候该复选框就会被选中或取消选中。如果为false，当用户仅在点击该复选框的时候才会呗选中或取消。
                checkOnSelect: false,
                //工具栏
                toolbar: '#consume_toolber',
                //是否显示行脚
                showFooter: true
            });
            $('#consume_search').searchbox({
                searcher: function (value, name) {
                    //alert(value + "," + name)
                    $('#MemberConsume').datagrid('load', {
                        parameterType: name,
                        parameter: value
                    });
                },
                menu: '#search_consume_tiaojian',
                prompt: '请输入值',
                width: 200
            });
        })
    </script>
</body>
</html>
