<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    
    <div style="margin-top:20px">
        <form id="form_integral_rule" method="post">
            <input type="hidden" id="hidden_integral_rule_id" value="{$integral_rule.id}" />
            <div style="margin-top: 15px;">
                <label class="control-label" >
                    <label style="width: 120px;display: block;float: left;right: 50px;
line-height: 30px;padding-left: 20px;">礼包奖金：</label>
                </label>
                <input id="integral_rule_bonus" type="text" value="{$integral_rule.bonus}" style="margin: 15px;margin-bottom: 0px;">元
            </div>
            <div style="margin-top: 15px;">
                <label class="control-label" >
                    <label style="width: 120px;display: block;float: left;right: 50px;
line-height: 30px;padding-left: 20px;">排行榜奖金比例：</label>
                </label>
                <input id="integral_rule_ranking_ratio" type="text" value="{$integral_rule.ranking_ratio}" style="margin: 15px;margin-bottom: 0px;">
            </div>
            <div style="margin-top: 15px;">
                <label class="control-label" >
                    <label style="width: 120px;display: block;float: left;right: 50px;
line-height: 30px;padding-left: 20px;">现金与积分汇率：</label>
                </label>
                <input id="integral_rule_exchange" type="text" value="{$integral_rule.exchange}" style="margin: 15px;margin-bottom: 0px;">
            </div>
            
            <div style="margin: 2% 14%;">
                <a id="save_Integral_rule" href="javascript:void(0)" class="easyui-linkbutton">保存</a> 
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $('#integral_rule_bonus').textbox({
            width: 50,
            height: 30
        })
        $('#integral_rule_ranking_ratio').textbox({
            width: 100,
            height: 30
        })
        $('#integral_rule_exchange').textbox({
            width: 50,
            height: 30
        })
        
    </script>
    <script type="text/javascript">
        $(function () {
            $('#save_Integral_rule').click(function () {
                var id = $('#hidden_integral_rule_id').val();
                var bonus = $('#integral_rule_bonus').textbox('getValue');
                var ranking_ratio = $('#integral_rule_ranking_ratio').textbox('getValue');
                var exchange = $('#integral_rule_exchange').textbox('getValue');
                
                $.ajax({
                    url: '__APP__/IntegralRule/save',
                    data: { id: id, bonus: bonus, ranking_ratio: ranking_ratio, exchange:exchange},
                    type: 'post',
                    success: function (msg) {
                        if (msg == "ok") {
                            alert("设置成功");
                        }
                        else {
                            alert("设置失败，请重新设置");
                        }

                    }
                })
            })
        })
    </script>
</body>
</html>
