<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title></title>
</head>
<body>
    <!--添加用户-->
    <div id="Div_OrderPackage_Logistics" style="display:none" align="center">
        <input type="hidden" name="orderid" />
        <table style="margin-top:20px">
            <tr>
                <td align="right">物流名称：</td>
                <td><input type="text" name="logistics" /></td>
            </tr>
            <tr height="5px"></tr>
            <tr>
                <td align="right">快递号：</td>
                <td><input type="text" name="express" /></td>
            </tr>
        </table>
        <br />
        <input type="button" id="queren_OrderPackage_Logistics" value="确认" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" id="quxiao_OrderPackage_Logistics" value="取消" />
    </div>  
    <!--<script src="/js/datagrid-detailview.js"></script>-->
    <table id="OrderPackage"></table>
    <div id='OrderPackage_toolbar' style=" padding:5px 0px 5px 5px">
        <div style=" height:5px"></div>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-no'" id="delPackageOrder">删除</a>
        <input id="OrderPackage_search"></input>
        <div id="OrderPackage_search_list" style="width:120px">
            <div data-options="name:'ordernum',iconCls:'icon-ok'">订单号</div>
            <div data-options="name:'Title',iconCls:'icon-ok'">产品名称</div>
        </div> <br />
        <div id="OrderPackage_Search_Zhuangtai">
            <input type="hidden" id="OrderPackage_search_Categories" value='<>""' />
            <a class="easyui-linkbutton" status="" data-options="iconCls:'icon-search'" style=" width:8%">全部</a>
            <a class="easyui-linkbutton" status="0" data-options="iconCls:'icon-search'" style=" width:8%">待付款</a>
            <a class="easyui-linkbutton" status="1" data-options="iconCls:'icon-search'" style=" width:8%">待发货</a>
            <a class="easyui-linkbutton" status="2" data-options="iconCls:'icon-search'" style=" width:8%">待收货</a>
            <!-- <a class="easyui-linkbutton" status="3" data-options="iconCls:'icon-search'" style=" width:10%">待评价</a> -->
            <!-- <a class="easyui-linkbutton" status="退换货/退款" data-options="iconCls:'icon-search'" style=" width:10%">退换货/退款</a> -->
        </div>
    </div> 
    
    <script type="text/javascript">

        $('#OrderPackage').datagrid({
            url: '__APP__/Order/get_package',
            columns:
            [[
                { field: 'cbo_Dingdan', checkbox: true },
                { field: 'id', title: '订单id', width: 130, align: 'center', hidden: true },
                { field: 'create_time', title: '下单时间', width: 130, align: 'center' },
                { field: 'ordernum', title: '订单号', width: 150, align: 'center' },
                { field: 'package', title: '礼包', width: 100, align: 'center' },
                { field: 'product_price', title: '金额', width: 100, align: 'center' },
                { field: 'nickname', title: '用户', width: 100, align: 'center' },
                { field: 'ship_time', title: '发货时间', width: 150, align: 'center'},
                { field: 'order_status', title: '订单状态', width: 100, align: 'center',
                    formatter: function (value, row, index) {
                        var a = "";
                        if(value=="0")
                        {
                            a = "待付款";
                        }
                        if(value=="1")
                        {
                            a = "待发货";
                        }
                        if(value=="2")
                        {
                            a = "待收货";
                        }
                        if(value=="3")
                        {
                            a = "待评价";
                        }
                        return a;
                    }
                },
                {
                    field: 'caozuo', title: '操作', width: 150, align: 'center',
                    formatter: function (value, row, index) {
                        var a = '<span onclick=open_newtab("__APP__/Order/package_show?id='+row.id+'","订单详情")>详情</span>';
                        //var b = "<a onclick='sureDingdna(" + row.ID + ")'>确认订单</a>";
                        var c = "";
                        if (row.order_status == "1") {
                            c = `<a onclick=fahuo(${row.id})>发货</a>`;
                        }
                        return a + " | " + c;
                    }
                }
            ]],
            toolbar: '#OrderPackage_toolbar',
            pagination: true,
            singleSelect: true,
            selectOnCheck: false,
            rownumbers: true,
            checkOnSelect: false
        })
        $('#OrderPackage_search').searchbox({
            searcher: function (value, name) {
                $('#MallProductOrder').datagrid('reload', { search: name, value: value});
            },
            menu: '#OrderPackage_search_list',
            prompt: '请输入值',
            width: '250'
        });
        $('#Div_OrderPackage_Logistics').dialog({
            title: '物流信息',
            width: 350,
            height: 200,
            closable: true,
            closed: true,
            cache: false,
            onClose: function () {
                $('#Div_OrderPackage_Logistics [name="logistics"]').val('');
                $('#Div_OrderPackage_Logistics [name="express"]').val('');
                $('#Div_OrderPackage_Logistics [name="orderid"]').val('');
            },
            modal: true
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $('#OrderPackage_Search_Zhuangtai').find('a').click(function () {
                var status = $(this).attr('status');
                var CanShu = {search: 'order_status',value:status };
                $('#OrderPackage').datagrid('reload', CanShu);
            })

            $('#delPackageOrder').click(function () {
                var checked = $('#OrderPackage').datagrid('getChecked');
                var delID = "";
                //alert(checked.length);
                if (checked.length > 0) {
                    $.messager.confirm('确认', '您确认要删除这些订单吗？', function (r) {
                        if (r) {

                            for (var i = 0; i < checked.length; i++) {
                                delID += checked[i].id;
                                delID += ",";
                            }

                            delID = delID.substr(0, delID.length - 1);
                            //alert(delID);

                            $.ajax({
                                url: '__APP__/Order/package_delete',
                                data: {"id": delID },
                                type: 'post',
                                success: function (msg) {
                                    if (msg == "ok") {
                                        alert("删除成功");
                                        $('#OrderPackage').datagrid('reload');
                                    }
                                    if (msg == "error") {
                                        alert("删除失败，请重新尝试");
                                    }
                                    if (msg == "idnull") {
                                        alert("数据不存在，刷新后请重新操作");
                                    }
                                }
                            })

                        }
                    })
                }
                else {
                    alert("请选择要删除的数据");
                }
            })
        })
        function fahuo(order_id){
            $('#Div_OrderPackage_Logistics [name="orderid"]').val(order_id);
            $('#Div_OrderPackage_Logistics').show();
            $('#Div_OrderPackage_Logistics').dialog('open');
        }
        // 确认添加
        $('#queren_OrderPackage_Logistics').click(function () {
            var logistics = $('#Div_OrderPackage_Logistics [name="logistics"]').val();
            var express = $('#Div_OrderPackage_Logistics [name="express"]').val();
            var orderid = $('#Div_OrderPackage_Logistics [name="orderid"]').val()
            if (orderid.length <= 0) {
                layer.msg("请选择要发货的订单");
                return;
            }
            // if (logistics.length <= 0) {
            //     layer.msg("请输入物流名称");
            //     $('#Div_OrderPackage_Logistics [name="logistics"]').focus();
            //     return;
            // }
            // if (express.length <= 0) {
            //     layer.msg("请输入快递号");
            //     $('#Div_OrderPackage_Logistics [name="express"]').focus();
            //     return;
            // }
            
            $.ajax({
                url: '__APP__/Order/package_logistics',
                data: {order_id:orderid, logistics: logistics, express: express},
                type: 'post',
                success: function (msg) {
                    if (msg == "ok") {
                        layer.msg("恭喜，添加物流信息成功");
                        $('#Div_OrderPackage_Logistics').dialog('close');
                        $('#OrderPackage').datagrid('reload');
                        return;
                    }
                    if (msg == "error") {
                        layer.msg("抱歉，添加时出错，请重新添加");
                        return;
                    }
                    if (msg == "null_orderid") {
                        layer.msg("请选择要发货的订单");
                        return;
                    }
                    if (msg == "null_logistics") {
                        layer.msg("请输入物流名称");
                        return;
                    }
                    if (msg == "null_express") {
                        layer.msg("请输入快递号");
                        return;
                    }
                    if (msg == "no_order") {
                        layer.msg("订单不存在，请确认");
                        return;
                    }
                }
            })
        })
        
        $('#quxiao_OrderPackage_Logistics').click(function () {
            $('#Div_OrderPackage_Logistics').dialog('close');
        })
        //打开新选项卡
        function open_newtab(url, title) {
            var IsHave = $('#right').tabs('exists', title);
            if (IsHave) {
                $('#right').tabs('select', title);
                var tab = $('#right').tabs('getSelected');  // 获取选择的面板
                //刷新面板
                tab.panel('refresh', url);
            }
            else {
                $('#right').tabs('add', {
                    title: title,
                    content: '<div class="easyui-panel" href="' + url + '" fit="true" border="false" ></div>',
                    closable: true

                });
            }
        }

        function ceshi(){
            layer.msg("ok");
        }
    </script>

</body>
</html>